<!--<form>
    <input type="text"
           placeholder="Name *"
           ng-model="adressCtrl.adress.name">
    <input type="text"
           placeholder="Surname *"
           ng-model="registerCtrl.user.surname">
    <input type="text"
           placeholder="Name *"
           ng-model="registerCtrl.user.street">
    <input type="text"
           placeholder="Surname *"
           ng-model="registerCtrl.user.number">
    <input type="text"
           placeholder="Name *"
           ng-model="registerCtrl.user.postCode">
    <input type="text"
           placeholder="Surname *"
           ng-model="registerCtrl.user.city">
    <input type="text"
           placeholder="Name *"
           ng-model="registerCtrl.user.country">
    <button type="submit" ng-click="registerCtrl.register()"> Register </button>
</form>
    -->
