<div class="cart">
    <h1>KOSZYK</h1>
    <form>
        <table class="cart-table">
            <thead>
                <tr class="cart-table-tr-head">
                    <td>produkt</td>
                    <td>opis</td>
                    <td>rozmiar</td>
                    <td>ilosc</td>
                    <td>kwota</td>
                    <td>usun</td>
                </tr>
            </thead>
            <tbody ng-repeat="item in cartCtrl.cart.items track by $index">
                <tr class="cart-table-tr-body">
                    <td><img src="./img/items/{{item.images[item.imageIndex]}}"></td>
                    <td>{{item.title}}</td>
                    <td>{{item.size}}</td>
                    <td>
                        <span>
                            <button ng-click="cartCtrl.subQuantity(item)"><</button>
                            <span>{{item.quantity}}</span>
                            <button ng-click="cartCtrl.addQuantity(item)">></button>
                        </span>
                    </td>
                    <td>
                        {{item.sum}}
                    </td>
                    <td><button ng-click="cartCtrl.removeFromCart(item)">X</button></td>
                </tr>
            </tbody>
            
        </table>
        <button class="cart-button" ng-click="cartCtrl.check()">DO KASY</button>
    </form>
</div>