<div id="checkout_Address">
	<p> Imię: </p></br>
	<input type="text"
		   placeholder="Name *"
		   ng-model="checkoutCtrl.address.name"></br>
	<p> Nazwisko: </p></br>
	<input type="text"
		   placeholder="Surname *"
		   ng-model="checkoutCtrl.address.surname"></br>
	<p> Ulica: </p></br>
	<input type="text"
		   placeholder="Street *"
		   ng-model="checkoutCtrl.address.street"></br>
	<p> Numer: </p></br>
	<input type="number"
		   placeholder="Number *"
		   ng-model="checkoutCtrl.address.number"></br>
	<p> Kod Pocztowy: </p></br>
	<input type="text"
		   placeholder="postCode *"
		   ng-model="checkoutCtrl.address.postCode"></br>
	<p> Miasto: </p></br>
	<input type="text"
		   placeholder="City *"
		   ng-model="checkoutCtrl.address.city"></br>
	<p> Kraj: </p></br>
	<input type="text"
		   placeholder="Country *"
		   ng-model="checkoutCtrl.address.country">
</div>