<div class="address">
    <div class="col-1">
        <input type="text"
               placeholder="Name *"
               ng-model="checkoutCtrl.address.name">
        <input type="text"
               placeholder="Surname *"
               ng-model="checkoutCtrl.address.surname">
        <input type="text"
               placeholder="Street *"
               ng-model="checkoutCtrl.address.street">
        <input type="number"
               placeholder="Number *"
               ng-model="checkoutCtrl.address.number">
        <input type="text"
               placeholder="postCode *"
               ng-model="checkoutCtrl.address.postCode">
        <input type="text"
               placeholder="City *"
               ng-model="checkoutCtrl.address.city">
        <input type="text"
               placeholder="Country *"
               ng-model="checkoutCtrl.address.country">

        <button ui-sref="shop.checkout.deliveryAndPayment">DALEJ</button>

    </div>

    <div class="col-2">




    </div>
    
</div>