<div class="delAndPay">
    <div class="delAndPayWithoutButton">
        <div class="delivery">
            <div ng-repeat="delivery in checkoutCtrl.deliveryOptions track by $index">
                <label><input type="radio" ng-model="checkoutCtrl.delivery" ng-value="delivery">{{delivery.title}}</label>
            </div>
        </div>
        <div class="payment">
            <label><input type="radio" ng-model="checkoutCtrl.paymentMethod" [checked]="true" value="platnosc przy odbiorze" /> platnosc przy odbiorze </label>
        </div>
    </div>
    <button ui-sref="shop.checkout.summary">summary</button>
</div>