<div class="summary">
    <h1>PODSUMOWANIE</h1>
    <h2>Dane do wysylki</h2>
    <p>{{checkoutCtrl.address.name}} {{checkoutCtrl.address.surname}}</p>
    <p>{{checkoutCtrl.address.postalCode}} {{checkoutCtrl.address.city}}</p>
    <p>ul. {{checkoutCtrl.address.street}} {{checkoutCtrl.address.number}}</p>
    <p>{{checkoutCtrl.address.country}}</p>
    <h2>Dostawa</h2>
    <p>{{checkoutCtrl.delivery.title}} : {{checkoutCtrl.delivery.price}} PLN</p>
    <h2>Forma platnosci</h2>
    <span>{{checkoutCtrl.paymentMethod}}</span>
    <h2>Suma</h2>
    <span>{{checkoutCtrl.cart.summary + checkoutCtrl.delivery.price}} PLN</span>
    <h2>Wybrane produkty</h2>
    <table class="cart-table">
        <thead>
            <tr class="cart-table-tr-head">
                <td>produkt</td>
                <td>opis</td>
                <td>rozmiar</td>
                <td>ilosc</td>
                <td>kwota</td>
            </tr>
        </thead>
        <tbody ng-repeat="item in checkoutCtrl.cart.items track by $index">
            <tr class="cart-table-tr-body">
                <td><img src="./img/items/{{item.images[item.imageIndex]}}"></td>
                <td>{{item.title}}</td>
                <td>{{item.size}}</td>
                <td>{{item.quantity}}</td>
                <td>
                    <span>
                        <span>{{item.sum}}</span>
                    </span>
                </td>
            </tr>
        </tbody>
        <tfoot>

        </tfoot>
    </table>
    <button ng-click="checkoutCtrl.finalizeCheckout()">ZAMAWIAM</button>
</div>