<form>
    <input type="text"
           placeholder="Name *"
           ng-model="addressCtrl.address.name">
    <input type="text"
           placeholder="Surname *"
            ng-model="addressCtrl.address.surname">
    <input type="text"
           placeholder="Street *"
            ng-model="addressCtrl.address.street">
    <input type="number"
           placeholder="Number *"
            ng-model="addressCtrl.address.number">
    <input type="text"
           placeholder="postCode *"
            ng-model="addressCtrl.address.postCode">
    <input type="text"
           placeholder="City *"
            ng-model="addressCtrl.address.city">
    <input type="text"
           placeholder="Country *"
            ng-model="addressCtrl.address.country">
    <button type="submit" ng-click="addressCtrl.addAddress()"> NEXT </button>
</form>