<div id="footer">
    <table class="footer">
        <tr>
            <th> <p> Informacje o firmie </p> </th>
            <th> <p> Pomoc </p> </th>
        </tr>

        <tr>
            <td> <p> FOOTER </p> </td>
            <td> <p> kontakt </p> </td>
        </tr>

        <tr>
            <td> <p> FOOTER </p> </td>
            <td> <p> Polityka prywatnoœci </p> </td>
        </tr>

        <tr>
            <td> <p> FOOTER </p> </td>
            <td> <p> Reklamacje </p> </td>
        </tr>

    </table>

    <div class="footer">
        <p> FOOTER </p>
    </div>
</div> 