<nav>
    <div class="header_logo">
        <a ui-sref="shop">
            <img src="./img/logo.png" width="100" height="40">
        </a>
    </div>
    <div class="header_nav_icons">
        <ul>
            <li>
                <a>
                    <img />
                    <span>0</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="header_menu">
        <a ui-sref="shop.cart">
            <span ng-if="!headerCtrl.cart.items.length">
                is empty
            </span>
            <span ng-if="headerCtrl.cart.items.length">
                {{ headerCtrl.cart.count }} items in your cart
            </span>
        </a>
        <div ng-repeat="category in headerCtrl.categories track by $index">
            <p>{{category.title}}</p>
        </div>

    </div>
</nav>