<nav>
    <div class="header_logo">
        <a ui-sref="shop">
            <img src="./img/logo.png" width="100" height="40">
        </a>
    </div>
    <div class="header_nav_icons">
        <a ng-if="!headerCtrl.isLogged()" ui-sref="login">
            <span>
                Zaloguj sie
            </span>
        </a>
        <a ng-if="headerCtrl.isLogged()">
            <!--ui-sref="shop.profile">-->
            <span>
                Witaj, {{headerCtrl.user.address.name}}
            </span>
        </a>


        <a ui-sref="shop.cart">
            <span ng-if="!headerCtrl.cart.items.length">
                0
            </span>
            <span ng-if="headerCtrl.cart.items.length">
                {{ headerCtrl.cart.count }}
            </span>
        </a>
    </div>
    <div class="header_menu">

        <div ng-repeat="category in headerCtrl.categories track by $index">
            <p>{{category.title}}</p>
        </div>

    </div>
</nav>