<div class="adminForm">
    <form>
        <input type="text"
               placeholder="Tytul"
               ng-model="itemCtrl.item.title">
        <input type="text"
               placeholder="Opis"
               ng-model="itemCtrl.item.description">
        <input type="number"
               placeholder="Rozmiar"
               ng-model="itemCtrl.item.size">
        <input type="text"
               placeholder="Kategoria"
               ng-model="itemCtrl.item.category">
        <input type="number"
               placeholder="Cena"
               ng-model="itemCtrl.item.price">
        <input type="number"
               placeholder="Index"
               ng-model="itemCtrl.item.mainImageIndex">
        <input type="number"
               placeholder="Ilosc"
               ng-model="itemCtrl.item.quantity">
        <button type="submit" ng-click="itemCtrl.putItem()"> Dodaj </button>
    </form>
</div>