<div class="container2">
	<div class="container1">
		<div class="orderBy">
			<h2>SORTUJ WG</h2>
			<ul>
				<li><a href="" ng-click="sorting = 'title'; reverse=!reverse">Nazwa</a></li>
				<li><a href="" ng-click="sorting = 'price'; reverse=!reverse">Cena</a></li>
			</ul>
		</div>
		 
		<div class="products">
			<h2 ng-if="itemSearchCtrl.items.length == 0">brak wynikow wyszukiwania</h2>
			<div class="product" ng-repeat="item in itemSearchCtrl.items | orderBy:sorting:reverse track by $index ">
				<span class="new_product" ng-if="itemSearchCtrl.isNewItem(item.date)">
					 NOWOSC
				</span>
				<a ui-sref="shop.item({id: item._id})">
					<img ng-src="./img/items/{{item.images[item.imageIndex]}}"
						  ng-mouseover="item.imageIndex='1'"
						  ng-mouseleave="item.imageIndex='0'">
					<span>{{item.title}}</span>
					<span>{{item.price}} PLN</span>
				</a>
				<div>
				</div>
			</div>
		</div>
	</div>
</div> 
