<div id="main">
    <div id="ads">
        <div ui-view="slideshow"></div>
    </div>
    <div id="products">
        <div class="item_table" ng-repeat="item in mainCtrl.items track by $index">

            <a ui-sref="shop.item({id: item._id})">
                <img src="./img/items/{{item.images[item.imageIndex]}}" width="200" height="300">
            </a></br>
            <a ui-sref="shop.item({id: item._id})"> {{item.title}} </a></br>
            {{item.price}} z³</br>
            <div>
            </div>

        </div>
