<div class="header">
    <div class="header-logo">
        <a ui-sref="shop">
            <img src="./img/logog.png">
        </a>
    </div>
    <div class="header-center">
        <form>
            <input type="text" placeholder="Wpisz haslo wyszukiwania..">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div class="header-right">
        <div class="basket">
            <a ui-sref="shop.cart">
                <img src="./img/basket.png">
                <span class="basket-count" ng-if="!headerCtrl.cart.items.length">
                    0
                </span>
                <span class="basket-count" ng-if="headerCtrl.cart.items.length">
                    {{ headerCtrl.cart.count }}
                </span>
                <span>
                    Koszyk
                </span>
            </a>
        </div>
        <div class="user">
            <a ng-if="!headerCtrl.status.value" ui-sref="shop.login">
                <img src="./img/user.png">
                <span class="user-welcome-text">
                    Zaloguj sie
                </span>
            </a>
            <a ng-if="headerCtrl.status.value" ui-sref="shop.userPannel">
                <img src="./img/user.png">
                <span class="user-welcome-text">
                    Witaj {{headerCtrl.user.address.name}}
                </span>
            </a>
        </div>
    </div>
</div>