<div id="menu_settings">
	<div id="links">
		<a ng-if="!headerCtrl.isLogged" ui-sref="register">
            <span>
                Zarejestruj się
            </span>
        </a>
		<a ng-if="!headerCtrl.isLogged" ui-sref="login">
            <span>
                Zaloguj się
            </span>
        </a>
        <a ng-if="headerCtrl.isLogged">
			Witaj {{headerCtrl.user.address.name}}
        </a>		
	</div>

	<div id="basket"> 
		<img src="./img/basket.png">
		<p>         
			<a ui-sref="shop.cart">
				<span ng-if="!headerCtrl.cart.items.length">
					0
				</span>
				<span ng-if="headerCtrl.cart.items.length">
					{{ headerCtrl.cart.count }}
				</span>
			</a> 
		</p>
	</div>

	<div id="search">
		<form>
			<input type="text" name="Szukaj produktów">
			<input class="search" type="image" src="img/search.svg" alt="Submit">			
		</form>
	</div>	
</div>
