<div class="slideshow-container">
    <div class="mySlides fade">
        <img src="img/Slideshow/1.png" style="width:100%">
    </div>
    <div class="mySlides fade">
        <img src="img/Slideshow/2.png" style="width:100%">
    </div>
<div class="mySlides fade">
    <img src="img/Slideshow/3.png" style="width:100%">
</div>
</div>
<div style="text-align:center">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
</div>
<script>
    showSlides();
</script> 