<form>
    <h2>Zmien adres</h2>
    <table>
        <tr>
            <td>
                Imie:
            </td>
            <td>
                <input type="text"
                       placeholder="Name *"
                       ng-model="userCtrl.user.address.name">
            </td>
            <td> Nazwisko: </td>
            <td>
                <input type="text"
                       placeholder="Surname *"
                       ng-model="userCtrl.user.address.surname">
            </td>
        </tr>
        <tr>
            <td> Ulica: </td>
            <td>
                <input type="text"
                       placeholder="Street *"
                       ng-model="userCtrl.user.address.street">
            </td>
            <td> Numer: </td>
            <td>
                <input type="number"
                       placeholder="Number *"
                       ng-model="userCtrl.user.address.number">
            </td>
        </tr>
        <tr>
            <td> Kod pocztowy: </td>
            <td>
                <input type="text"
                       placeholder="postCode *"
                       ng-model="userCtrl.user.address.postCode">
            </td>
            <td> Miasto: </td>
            <td>
                <input type="text"
                       placeholder="City *"
                       ng-model="userCtrl.user.address.city">
            </td>
        </tr>
        <tr>
            <td> Kraj: </td>
            <td>
                <input type="text"
                       placeholder="Country *"
                       ng-model="userCtrl.user.address.country">
            </td>
        </tr>
    </table>

    <button type="submit" ng-click="userCtrl.updateAddress()">ZAPISZ</button>
</form>