@font-face {
    font-family: Quicksand-Light;
    src: url('Quicksand-Light.otf');
}
@font-face {
    font-family: Quicksand-Regular;
    src: url('Quicksand-Regular.otf');
}

.footerInfo {
    font-size:14px;
    font-family:Quicksand-Regular;
    text-align:center;
}

.header {
    background-color: #E6F6F4;
    overflow: hidden;
    width: 100%;
    display: table;
    padding-top: 20px;
    padding-bottom: 20px;
}
/*LOGO*/
.header-logo {
    display: table-cell;
    /*background-color:red;*/
    width: 25%;
}

.header-logo img{
    width:400px;
    height:80px;
    padding-left:12px;
}
/*WYSZUKIWARKA*/
.header-center {
    display: table-cell;
    /*background-color: green; */
    width: 40%;
}
    .header-center form {
        box-sizing: content-box;
    }
    .header-center input[type=text] {
        padding: 10px;
        margin-left:70px;
        font-size: 17px;
        border: 1px solid grey;
        border-right: none;
        float: left;
        width: 50%;
        background: #f1f1f1;
    }

    .header-center button {
        float: left;
        width: 10%;
        padding: 10px;
        background: #63C7BA;
        color: white;
        font-size: 17px;
        border: 1px solid grey;
        border-left: none;
        cursor: pointer;
    }

/*IKONY Z PRAWEJ*/
.header-right {
    display: table-cell;
    float: right;
    /* background-color: blue;*/
    width: 100%;
    position: relative;

}
    .header-right img {
        width: 30px;
        height: 30px;
    }

    .header-right a {
        font-family: Quicksand-Light, sans-serif;
        color: black;
        text-decoration: none;
        font-size: 14px;
    }

.basket {
    float: right;
    position: relative;
    text-align: center;
    width: 60px;
    margin-right: 50px;
}

.basket-count {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
}
.basket a:hover  {
    font-weight:bolder;
}
.user {
    float: right;
    position: relative;
    text-align: center;
    width: 150px;
    margin-right: 50px;
}

.user a:hover {
    font-weight: bolder;
}
.user-welcome-text {
    position: absolute;
    width:100%;
    top: 125%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
}

/*SORTOWANIE*/
.sort{
    font-family: Quicksand-Regular;
    font-size: 16px;
    padding: 4px;
    border: 1px solid grey;
    margin-left:30px;
}
/*KATEGORIE MENU*/
.categories {
    background-color: #E6F6F4;
    zoom: 1;
    width: auto;
    padding-top: 20px;
}

   .categories:before {
        content: '';
        display: block;
    }

    .categories:after {
        content: '';
        display: table;
        clear: both;
    }

    .categories ul {
        width: 100%;
        list-style-type: none;
        position: relative;
        display: table;
        font-size: 20px;
        font-family:Quicksand-Regular, sans-serif;
        /* font-family: Verdana, Helvetica, Arial, sans-serif;*/
        margin: 0;
        padding: 0;
        border-bottom: 1px solid #808080;
        zoom: 1;
    }

        .categories ul:before {
            content: '';
            display: block;
        }

        .categories ul:after {
            content: '';
            display: table;
            clear: both;
        }

    .categories li {
        display: table-cell;
        float: left;
        width: 25%;
        margin: 0;
        padding: 0;
        padding-bottom: 10px;
        text-align: center;
        text-transform: uppercase;
    }
.categories li:before {
    content: '';
    display: block;
    clear: both;
}

.categories li:after {
    content: '';
    display: table;
    clear: both;
}
        .categories li a {
            color: #6A6A6A;
            text-decoration: none;
            height: 24px;
            padding: 9px 15px 0;
            font-weight: normal;
        }
        .categories li:hover,
        .categories .active {
            text-decoration: none;
            border-bottom: 4px solid #63C7BA;
        }

    .categories li:hover a {
        color: #313131;
    }

    .categories .active a {
        color: #313131;
        font-weight: 700;
    }


/*PRODUKTY*/
.products {
    margin-top: 20px;
    position: relative;
    margin-left: 20px;
    flex-wrap: wrap;
    display: flex;
}
.products h2{
    text-align: center;
    font-family:Quicksand-Regular;

}
.product:hover {
    border: 1px solid #808080;
}

.product {
    border: 1px solid white;
    width: 255px;
    margin-bottom: 10px;
    width:20%;
    box-sizing:border-box;
}
.product:before {
    content: '';
    display: block;
    clear: both;
}

.product:after {
    content: '';
    display: table;
    clear: both;
}

    .product img {
        margin-top: 10px;
        margin-left: 10px;
        width: 235px;
        height: 350px;
        margin-right: 10px;
    }
    .product a {
        text-decoration: none;
        font-family: Quicksand-Regular;
        color: black;
        font-size: 14px;
    }

    .product span {
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
        display: block;
    }


/*FOOTER*/
.footer {
    font-family: Quicksand-Regular;
    font-size: 14px;
}
.footer:before {
    content: '';
    display: block;
    clear:both;
}

.footer:after {
    content: '';
    display: table;
    clear: both;
}

    .footer ul {
        list-style-type: none;
        position: relative;
        display: block;
        padding-left: 0;
        margin-left: 0;
    }
    .footer li {
        width: 25%;
        display: block;
        float: left;
        background-color: #E6F6F4;
        text-align: center;
        padding-bottom: 20px;
        border-top: 1px solid #808080;
    }
    .footer li a {
     float: left;
     color: black;
     text-decoration: none;
     padding: 9px 15px 0;
    }


/*POJEDYNCZY PRODUKT*/
.product-info {
    display: table;
    width: 100%;
    padding-left: 20px;
    margin-top: 10px;
}
.product-image-review {
    float: left;
    padding-right: 10px;
    padding-left:20px;
}
.product-images-mini {
    border: 1px solid white;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    display: table-cell;
    width: 80px;
    height: 120px;
}
    .product-images-mini:hover {
        border: 1px solid #808080;
        cursor:pointer;
    }

.product-main-image {
    float: left;
    display: table-cell;
    width: 600px;
    height: 800px;
}

.product-description {
    font-family: Quicksand-Regular;
    font-size: 14px;
    margin-left: 20px;
    color: #222222;
    width: 38%;
    float: left;
    display: table-cell;
}
    .product-description h2,  option, select, h4, button {
        margin-bottom: 40px;
    }
    .product-description h1 {
        text-transform: uppercase;
    }
    .product-description button {
        width: 500px;
        height: 50px;
        margin-top:40px;
        background-color: #caeae6;
        font-family: Quicksand-Regular;
        font-size: 20px;
        color: black;
        border: 0;
        font-weight: bold;
        cursor:pointer;
    }
    .product-description button:hover {
        background-color: #63C7BA;
    }
.product-description-sizes {
    display:inline-block;
}

    .product-description-sizes:before {
        content: '';
        display: block;
    }

    .product-description-sizes:after {
        content: '';
        display: table;
        clear: both;
    }

.product-description-sizes h3 {
    float:left;
}
    .product-description-sizes ul {
        float:left;
        list-style-type: none;
        position: relative;
        display: block;
    }
        .product-description-sizes ul:before {
            content: '';
            display: block;
        }
        .product-description-sizes ul:after {
            content: '';
            display: table;
            clear: both;
        }


    .product-description-sizes li {
        display: block;
        float: left;
    }
    .product-description-sizes label {
        padding: 8px;
        color: #6A6A6A;
        border: 2px solid #6A6A6A;
        cursor: pointer;
    }
        .product-description-sizes label:hover {
            color: #313131;
            border: 2px solid #313131;
        }
    .product-description-sizes input[type="radio"]:checked + label {
        color: #313131;
        border: 2px solid #313131;
    } 

    .product-description-sizes input {
        visibility:hidden;
    }
label.diabled-class {
    border: 2px solid #DDDDDD;
    cursor:default;
}
label.diabled-class:hover {
    border: 2px solid #DDDDDD ;
}


/*KOSZYK*/
.cart {
    font-family:Quicksand-Light;
}

.cart-table {
    border-collapse: collapse;
    width: 100%;
    font-size: 20px;
}

.cart-table-tr-head {
    border-bottom: 1px solid black;
}

    .cart-table-tr-head td {
        padding-left: 10px;
        padding-right: 10px;
    }

.cart-table-tr-body {
    border-top: 1px solid #DDDDDD;
}
    .cart-table-tr-body button {
        border: 0;
        background-color: transparent;
        font-family: Quicksand-Regular;
        font-weight: bold;
        cursor:pointer;
        margin-top:40px;
    }
    .cart-table-tr-body img {
        width: 80px;
        height: 120px;
    }
    .cart-table-tr-body td {
     padding-left:10px;
      padding-right:10px;
    }


.cart-button {
    width: 500px;
    height: 50px;
    margin-top: 40px;
    background-color: #caeae6;
    font-family: Quicksand-Regular;
    font-size: 20px;
    color: black;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    margin-left: 830px;
}
    .cart-button:hover {
        background-color: #63C7BA;
    }
/*LOGOWANIE*/
.login {
    font-family:Quicksand-Regular;
    font-size:14px;
    display:table;
}
.login-form {
    display: table-cell;
    padding-left:40px;
}
.login-register {
    display: table-cell;
    width:60%;
}
    .login input {
        display:block;
        margin-bottom:10px;
        padding: 10px;
        font-size: 17px;
        border: 1px solid grey;
        width: 400px;
        background: #f1f1f1;
    }
    .login button {
        font-family: Quicksand-Regular;
        display: block;
        margin-bottom: 10px;
        padding: 10px;
        font-size: 17px;
        border: 0;
        width: 200px;
        background: #caeae6;
        cursor:pointer;
    }
        .login button:hover {
            background-color: #63C7BA;
        }

/*REJESTRACJA*/
.register {
    font-family: Quicksand-Regular;
    font-size: 14px;
    margin-left:490px;
}
    .register input {
        display: block;
        margin-bottom: 10px;
        padding: 10px;
        font-size: 17px;
        border: 1px solid grey;
        background: #f1f1f1;
    }
        .register input[type="text"], input[type="password"], input[type="email"] {
            width: 400px;
        }
        .register input[type="checkbox"] {
            display: inline;
        }
        .register a {
            color:black;
            text-decoration:none;
        }
            .register a:hover {
                color: #63C7BA
            }
    .register button {
        font-family: Quicksand-Regular;
        display: block;
        margin-bottom: 10px;
        padding: 10px;
        font-size: 17px;
        border: 0;
        width: 200px;
        background: #caeae6;
        cursor: pointer;
    }
        .register button:hover {
            background-color: #63C7BA;
        }
.error {
   color:red;
}

input.inputError {
    border: 1px red;
    box-shadow: 0 0 2px red;
}
/*ADRES ZAMOWIENIA*/
.address {
    font-family: Quicksand-Regular;
    font-size: 14px;
    display:table;
    width:100%;
    margin-left:200px;
}
.col-1 {
    display: table-cell;
    padding-right: 20px;
    float:left;
}
.col-2 {
    display: table-cell;
    margin-right: 20px;
    float: left;
}
.address input {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    width: 400px;
    background: #f1f1f1;
}

    .address button {
        font-family: Quicksand-Regular;
        display: block;
        margin-bottom: 10px;
        padding: 10px;
        font-size: 17px;
        border: 0;
        width: 200px;
        background: #caeae6;
        cursor: pointer;
    }

        .address button:hover {
            background-color: #63C7BA;
        }

/*METODA WYSYLKI I PLATNOSC*/
.delAndPay {
    font-family: Quicksand-Regular;
    font-size: 20px;
    margin-left:300px;
}
.delAndPay h2 {
    border-bottom: 1px solid #a7a7a7;
}
.delAndPayWithoutButton {
    display: table;
    width:100%;
    margin-bottom:20px;
}
    .delAndPay button {
        font-family: Quicksand-Regular;
        display: block;
        margin-bottom: 10px;
        padding: 10px;
        font-size: 17px;
        border: 0;
        width: 200px;
        background: #caeae6;
        cursor: pointer;
    }

        .delAndPay button:hover {
            background-color: #63C7BA;
        }
.payment {
    display: table-cell;
    float: left;
}

.delivery {
    display: table-cell;
    margin-right: 20px;
    float: left;
}

.address input {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    width: 400px;
    background: #f1f1f1;
}

/* PODSUMOWANIE */
.summary {
    font-family: Quicksand-Regular;
    font-size: 14px;
}
.summary h1 {
    padding-left:0;
}

.summary button {
    font-family: Quicksand-Regular;
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 17px;
    border: 0;
    width: 200px;
    background: #caeae6;
    cursor: pointer;
}

    .summary button:hover {
        background-color: #00BC8C;
    }



/*GUZIKI CHECKOUTU*/
/* numbered buttons */
#status-buttons {
    width:30%;
    margin: 0 auto;
    margin-top:10px;
    margin-bottom: 10px;
}

    #status-buttons a {
        font-family:Quicksand-Regular;
        color: #313131;
        display: inline-block;
        font-size: 12px;
        margin-right: 10px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        background: none;
    }


    /* we will style the span as the circled number */
    #status-buttons span {
        background: rgba(0, 188, 140, 0.55);
        display: block;
        height: 30px;
        margin: 0 auto 10px;
        padding-top: 5px;
        width: 30px;
        border-radius: 50%;
    }

    /* active buttons turn light green-blue*/
    #status-buttons a.active span {
        background: #00BC8C;
    }

/*NOWOSCI*/
.new_product {
    background-color: #63C7BA;
    position: absolute;
    padding-left: 1px;
    padding-right: 1px;
    font-family:Quicksand-Regular;
    font-size:11px;
}

/*UZYTKOWNIK*/
.UserProfile {
    width:100%;
    font-family: Quicksand-Regular;
    font-size: 14px;
    width:100%;
    display:table;
    background-color:#63C7BA;
}
.userProfileMenu {
    font-family: Quicksand-Regular;
    display: table-cell;
    float: left;
    height: auto;
    background-color: #F5F5F5;
    border-right: 1px solid #808080;
}

.userProfileMenu ul {
    margin: 0;
    padding: 0;
    list-style-type:none;
}
    .userProfileMenu a {
        font-size: 26px;
        text-decoration: none;
        color: black;
        background-color: transparent;
        cursor: pointer;
    }
    .userProfileMenu li, h1 {
        padding-right: 250px;
        padding-left: 30px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
        .userProfileMenu li:hover {
            background: #E6F6F4;
            border: 1px solid #808080;
        }

.userProfileContent {
    display:table-cell;
    float:left;
    font-family:Quicksand-Regular;
    font-size:19px;
    padding-left: 20px;
}
    .userProfileContent input {
        padding: 10px;
        font-size: 17px;
        border: 1px solid grey;
        margin-left:10px;
        margin-right:20px;
        margin-bottom:10px;
        float: left;
        background: #f1f1f1;
    }
    .userProfileContent button {
        width: 400px;
        height: 50px;
        margin-top: 10px;
        background-color: #caeae6;
        font-family: Quicksand-Regular;
        font-size: 20px;
        color: black;
        border: 0;
        font-weight: bold;
        cursor: pointer;
    }

        .userProfileContent button:hover {
            background-color: #63C7BA;
        }
/* SLIDESHOW */
.mySlides {
    display: none;
}

#ads img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
}

/* Caption text */
.text {
    color: #000000;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #000000;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
